* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #3c4858;
	text-rendering: optimizeLegibility;
}
	
body {
	margin: 0;
}

header {
	width: 100%;
	z-index: 1000;
}

.menu {
	width: 100%;
	height: 80px;
	padding: 0 0 0 41.915%;
	background-color: #fff;
}

.logo-header {
	width: 190px;
	height: 100%;
	display: inline-block;
}

#logo {
	width: 100%;
	height: 100%;
}

.menu-burger {
	height: 80px;
	display: inline-block;
	float: right;
	padding: 24px 8.5%;
}

.submenu {
	padding: 0 0 0 8.5%;
	width: 100%;
	height: 130px;
	background-color: #E1E1E1; 
	font-weight: 700;
}

.submenu1 {
	height: 65px;
	width: 460px;
	padding: 30px 0 0 0;
}

.sede-gen {
	font-size: 30px;
}

#submenu1-pull {
	padding: 0 20px;
}

.submenu2 {
	height: 65px;
	width: 460px;
	padding: 30px 0 0 0;
}

.submenu2-btn {
	display: inline-block;
	width: 24%;
	height: 100%;
	float: left;
	text-align: left;
	margin-right: 5%;
}

.submenu2-btn:hover, .submenu2-btn:active {
	border-bottom: 5px solid #F7B617;
}

.submenu2-btn a {
	text-decoration: none;
	font-size: 22px;
}

/* GENERAL GRAFICOS */

h3{
	font-size: 15px;
	font-weight: 300;
	margin-left: 30px;
}

h5{
	font-size: 15px;
	font-weight: 
}

p{
	font-size: 10px;
}

.general1{
	height: 360px;
	width:370px;
    background: white;
    display:inline-block;
    margin-left: 100px;
    margin-top:60px;
} 

.dato{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;
} 
.one{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;

} 
.porcent{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}
.rojo{
	color: red;
}
.general2{
	height: 360px;
	width:370px;
	background: white;
	margin-left: 40px;
	margin-top: 60px;
    display: inline-block;
}
.dato1{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;
}
.porcent1{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}
.two{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;
}
/*.fa-caret-up{
	display: inline-block;
}*/

.general3{
	height: 360px;
	width:370px;
	background: white;
	margin-left: 40px;
	display: inline-block;

}

.dato2{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;
}
.porcent2{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}

li{
	list-style: none;
}

.three{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;
}
 /* FIN GRAFICOS GENERALES*/


 /*Tech Skills*/

 .m1{
 	background: white;
 	height: 570px;
 	width:1200px;
 	margin-left: 100px;
    margin-top: -400px;
 	display:inline-block;
 }

hr{
   border: 2px solid black;	
   width: 100px;
   margin-right: 900px;
   margin-top: -15px;
}
h1{
	display: inline-block;
	margin-left: 30px;
}
 .a1{
 	display: inline-block;
 	margin-left: 30px;
 }

 .dato3{
   background: #F7F7F7;	
   height: 75px;
   width:210px;
   text-align: center;
   margin-left: 30px;
   margin-top: 20px;
   display: inline-block;
 }

.porcent3{
   background: #F7F7F7;	
   height: 75px;
   width:210px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;	
}

.a2{
	color: #7ED321;
}

.a3{
	display: block;
}
.four{
	border: 1px solid black; 
	height: 345px;
	width: 660px;
	margin-left: 30px;
	margin-top:30px;
	display:inline-block;
}

.five{
	border: 1px solid black;
	height: 345px;
	width: 370px;
	margin-left: 35px;
	display: inline-block;
}

/*Fin Tech Skills*/

/*LIFE SKILLS*/
.m2{
 	background: white;
 	height: 570px;
 	width:1200px;
 	margin-left: 100px;
    margin-top: -700px;
 	display:inline-block;
 }

hr{
   border: 2px solid black;	
   width: 100px;
   margin-right: 910px;
   margin-top: -15px;
}
h1{
	display: inline-block;
	margin-left: 30px;
}
 .b1{
 	display: inline-block;
 	margin-left: 30px;
 }

 .dato4{
   background: #F7F7F7;	
   height: 75px;
   width:210px;
   text-align: center;
   margin-left: 30px;
   margin-top: 20px;
   display: inline-block;
 }

.porcent4{
   background: #F7F7F7;	
   height: 75px;
   width:210px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;	
}

.b2{
	color: #7ED321;
}

.b3{
	display: block;
}
.four{
	border: 1px solid black; 
	height: 345px;
	width: 660px;
	margin-left: 30px;
	margin-top:30px;
	display:inline-block;
}

.five{
	border: 1px solid black;
	height: 345px;
	width: 370px;
	margin-left: 35px;
	display: inline-block;
}
/* Fin life skills*/

/*RANKINGS*/

section {
	height:900px;
	width: 100%;
	display: block;
	background-color: #f7f7f7;
	
}
h3{
	font-size: 15px;
	font-weight: 300;
	margin-left: 30px;

}
h5{
	font-size: 15px;
	font-weight: 
}
p{
	font-size: 10px;
}
.general4{
	height: 360px;
	width:370px;
    background: white;
    display:inline-block;
    margin-left: 100px;
    margin-top:60px;

}  
.dato3{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;

} 
.one{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;

} 
.porcent{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}
.rojo{
	color: red;
}
.general5{
	height: 360px;
	width:370px;
	background: white;
	margin-left: 40px;
	margin-top: 60px;
    display: inline-block;
}
.dato4{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;
}
.porcent1{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}
.two{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;
}
/*.fa-caret-up{
	display: inline-block;
}*/

.general6{
	height: 360px;
	width:370px;
	background: white;
	margin-left: 40px;
	display: inline-block;

}

.dato5{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 20px;
   display: inline-block;
}
.porcent2{
   background: #F7F7F7;	
   height: 70px;
   width:160px;
   text-align: center;
   margin-left: 10px;
   display: inline-block;
}

li{
	list-style: none;
}

.three{
	border: 1px solid black; 
	margin-left: 50px;
	margin-top:30px;
}
>>>>>>> agrega seccion 1 overview
