/*CLASES REUTILIZABLES*/

* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: #3c4858;
	text-rendering: optimizeLegibility;
}
	
body {
	margin: 0;
}

.container {
	/*outline: 1px solid magenta;*/
	width: 100%;
	padding: 50px 6.95%;
	height: auto;
	background: #F7F7F7;	
}

.general {
	height: 370px;
	width: 370px;
 	background: #fff;
 	display: inline-block;
 	margin: 0 20px 0 0;
	vertical-align: top;
	padding: 20px;
	border-radius: 5px;
} 

.general:last-child {
	margin: 0;
}

/*SECCION HEADER:*/

header {
	width: 100%;
	z-index: 1000;
}

/*Menú superior*/
.menu {
	width: 100%;
	height: 80px;
	padding: 0 0 0 41.915%;
	background-color: #fff;
}

.logo-header {
	width: 190px;
	height: 100%;
	display: inline-block;
}

.logo {
	width: 100%;
	height: 100%;
}

.menu-burger {
	height: 80px;
	display: inline-block;
	float: right;
	padding: 24px 8.5%;
}

/*Sub-Menú:*/
.submenu {
	padding: 0 0 0 8.5%;
	width: 100%;
	height: 130px;
	background-color: #E1E1E1; 
	font-weight: 700;
}

.submenu1 {
	height: 65px;
	width: 460px;
	padding: 30px 0 0 0;
}

.sede-gen {
	font-size: 30px;
}

.submenu1-pull {
	padding: 0 20px;
}

.submenu2 {
	height: 65px;
	width: 460px;
	padding: 30px 0 0 0;
}

.submenu2-btn {
	display: inline-block;
	width: 24%;
	height: 100%;
	float: left;
	text-align: left;
	margin-right: 5%;
}

.submenu2-btn:hover, .submenu2-btn:active {
	border-bottom: 5px solid #F7B617;
}

.submenu2-btn a {
	text-decoration: none;
	font-size: 22px;
}

/* SECCIÓN 1 RESUMEN GENERAL */

h2 {
	text-align: center;
	margin-top: 0;
}

.dato {
 	background: #F7F7F7;	
 	height: 100px;
 	width: 150px;
	margin-right: 13px;
 	text-align: center;
	display: inline-block;
	vertical-align: top;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 1px 1px #E1E1E1;
} 

datos:last-child {
	 margin: 0;
	text-align: center;
}

h3 {
	margin: 8px 0 3px;
	font-size: 24px
}

p{
	margin: 0;
	font-size: 12px;
}

.mini-graph{
	border: 1px solid black;
	margin: 20px;
	width: 90%;
	display: inline-block;
	vertical-align: top;
} 

.rojo{
	color: red;
}

ul {
	margin: 0;
	padding: 15px 15px;
}

li{
	text-align: left;
	list-style: none;
}


/* FIN GRAFICOS GENERALES*/


 /*Tech Skills*/

.graph-box{
 	background: white;
 	height: auto;
 	width: 100%;
 	display:inline-block;
	padding: 30px;
 }

hr{
   border: 2px solid black;	
   width: 100px;
   margin-right: 900px;
   margin-top: -15px;
}
h1{
	display: inline-block;
	margin-left: 30px;
}
 .a1{
 	display: inline-block;
 	margin-left: 30px;
 }

.a2{
	color: #7ED321;
}

.a3{
	display: block;
}
.four{
	border: 1px solid black; 
	height: 345px;
	width: 660px;
	margin-left: 30px;
	margin-top:30px;
	display:inline-block;
}

.five{
	border: 1px solid black;
	height: 345px;
	width: 370px;
	margin-left: 35px;
	display: inline-block;
}

/*Fin Tech Skills*/

/*LIFE SKILLS*/

hr{
   border: none;	
   width: 100px;
   margin-right: 910px;
   margin-top: -15px;
}
h1{
	display: inline-block;
	margin-left: 30px;
}

.b1{
 	display: inline-block;
 	margin-left: 30px;
	border-bottom: 2px solid;
 }

.b2{
	color: #7ED321;
}

.b3{
	display: block;
}
.four{
	border: 1px solid black; 
	height: 345px;
	width: 660px;
	margin-left: 30px;
	margin-top:30px;
	display:inline-block;
}

.five{
	border: 1px solid black;
	height: 345px;
	width: 370px;
	margin-left: 35px;
	display: inline-block;
}
/* Fin life skills*/

/*RANKINGS*/

.rojo{
	color: red;
}

li{
	list-style: none;
}

.big-graph {
	height: 280px;
	margin: 20px 0;
	border: none;
}
