* {
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	color: #3c4858;
	text-rendering: optimizeLegibility;
}
	
body {
	margin: 0;
	padding-top: 210px;
	background-color: #F7F7F7;
}

.container {
	outline: 1px solid red;
	width: 100%;
	padding: 40px 7% 6.8%;
	height: auto;
}

.col-1 {
	/*outline: 1px solid purple;*/
	width: 30%;
	height: auto;
	display: inline-block;
	margin-right: 18px;
	vertical-align: top;
	position: relative;
}

h3 {
	font-size: 21px;
	margin-top: 15px;
}

.filter-box {
	width: 100%;
	height: 170px;
	background-color: #fff;
	display: inline-block;
	padding: 0 25px 5px;
	border-radius: 3px;
}

.checkbox {
	display: block;
	font-size: 19px;
}

.checkbox input {
	margin: 0 16px 16px 0;
	border: 1px solid #F7B617;
	
}

.col-2 {
	/*outline: 1px solid purple;*/
	width: 780px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.search-box {
	height: 45px;
	width: 100%;
	display: inline-block;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px 1px #E1E1E1;
}

.search-icon {
	height: 45px;
	width: 45px;
	padding: 0 15px;
	color: #E1E1E1;	
}

.search-box input {
	width: 93%;
	height: 45px;
	border-radius: 3px;
	border: 1px solid yellow;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.student-item {
	/*outline: 1px solid green;*/
	width: 100%;
	height: 205px;
	background-color: #fff;
	border-radius: 3px;
	padding: 20px 0 20px 20px;
	box-shadow: 1px 1px 1px 1px #E1E1E1;
	margin-bottom: 25px;
}

.student-col {
	/*outline: 1px solid yellow;*/
	display: inline-block;
	width: 280px;
	height: 160px;
	vertical-align: top;
	padding: 0;
	float: left;
	margin-right: 10px;
}

.student-col:first-child {
	/*outline: 1px solid yellow;*/
	display: inline-block;
	width: 160px;
	height: 160px;
	vertical-align: top;
	padding: 0;
	float: left;
}

.student-name {
	display: block;
	margin: 0;
	width: 290px;
}

.specialty {
	font-size: 19px;
	display: block;
}

.languages {
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	height: 20px;
	vertical-align: top;
}

.languages span {
	width: 80px;
	height: 20px;
	background-color: #F7F7F7;
	display: inline-block;
	text-align: center;
	margin-right: 5px;
}

.skills {
	display: inline-block;
	width: 100%;
	height: 140px;
	text-align: right;
}

.skill {
	width: 80px;
	height: 65px;
	background-color: #E1E1E1;
	display: inline-block;
	vertical-align: top;
	border: none;
	margin: 0 5% 0 2.1%;
	text-align: center;
	float: left;
	padding: 8px 0;
}

.skill:last-child {
	margin: 0;
}

.skill-grade {
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.eng-grade {
	font-size: 14px;
	margin-bottom: 5px;
}

.skill-name {
	display: block;
	word-wrap: break-word;
	font-size: 11px;
}

.perfil {
	font-size: 18px;
	text-align: right;
	display: block;
	
}

